<html>
 <head>
    <meta charset="utf-8" />
 	<title>教育咨询</title>
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
 	<style type="text/css">
 		img{
 			width:150px;
 			height:150px;
 		}
 	</style>
 </head>	
 <body>
